---
import Base from "@layouts/Base.astro";
import Page from "@layouts/Page.astro";
---

<Base meta_title="Tienda de Ladrillos.club">
  <Page title="Tienda">
    <p>
      Próximamente...
    </p>
  </Page>
</Base>
